@import url('bootstrap.css');
@import url('utilities.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


*{ margin: 0; padding: 0; outline: 0; border: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; font-family: 'Lato', sans-serif; color: #333;}
body{ position: relative;  min-height: 100vh;  background: #9A999E;}
p{margin-bottom : 0;}
.cke_bottom,.cke_top{background-color: #82ccdd !important;}
.navbar-default{background-color: #5A54A4; border-bottom: none; padding: 10px 0px;}
.navbar-default .navbar-collapse{border: none;}
.logo {color :#ffffff; padding-left: 15px;}
.logo img {max-width: 150px;}
.footer{ position: absolute; bottom: 0; left:0; background: #5A54A4; width: 100%; }
.footer p, .footer p i{ color: #ffffff; overflow: hidden;}
.footer p i{font-size: 16px; margin: 0 15px; cursor: pointer;}
.footer p i:hover{color: #33CCFF; transform: scale(1.3);}
.txtransnone{text-transform: none;}
.writing-mode{ writing-mode: vertical-rl;  text-orientation: upright;}
.magic-content{ display: none; height: 0;  opacity: 0;}
.magic-content.togg{ display:block !important; opacity: 1; min-height: 150px; height: auto; margin-top: 15px; overflow:hidden; animation: ups 1.5s ease-in;}
@keyframes ups{from{opacity: 0;}to{opacity: 1;}}
code{ color: #0a3d62; text-transform: uppercase; font-weight: 500; font-style: italic; cursor: pointer; color: #0a3d62; background: #82ccdd;}
/*code:hover{color: #eb2f06; background: #82ccdd;}*/
.list-group-item{ background: #5A54A4;}
.list-group-item .magic-content ul,.list-group-item .magic-content ol{ margin-left:15px; margin-bottom: 10px !important;}
.list-group-item a{text-transform: uppercase;color: #ffffff;font-weight: 700;text-decoration: none;}
.glyphicon{color: #1abc9e; padding-right:10px;}
.magic-content ul li {list-style-type: none;}
.magic-content ol {list-style-type: upper-roman;}
.imgstep:before{content: ""; display: block; padding-bottom: 30%; margin:15px 0;}
[class*="step-"]{ background-size: 100% 100%; background-repeat: no-repeat;}
.step-1{ background-image: url('../images/s1.PNG');}
.step-2{ background-image: url('../images/s2.PNG');}
.step-3{ background-image: url('../images/s3.PNG');}
.step-4{ background-image: url('../images/s4.PNG');}
.step-5{ background-image: url('../images/s5.PNG');}
/*.step-6{ background-image: url('../images/s6.PNG');}*/
.step-6{ background-image: url('../images/sS6.PNG');}
.step-7{ background-image: url('../images/sS7.PNG');}
.step-8{ background-image: url('../images/s18.PNG');}
.step-9{ background-image: url('../images/s19.PNG');}
.step-10{ background-image: url('../images/s20.PNG');}
.step-11{ background-image: url('../images/s21.PNG');}
.step-12{ background-image: url('../images/s22.PNG');}
.step-13{ background-image: url('../images/s23.PNG');}
.step-14{ background-image: url('../images/s24.PNG');}
.step-15{ background-image: url('../images/s25.PNG');}
.step-16{ background-image: url('../images/s26.PNG');}
.step-17{ background-image: url('../images/s27.PNG');}
.step-18{ background-image: url('../images/s28.PNG');}
.step-19{ background-image: url('../images/s29.PNG');}
.step-20{ background-image: url('../images/s30.PNG');}
.step-21{ background-image: url('../images/s31.PNG');}
.step-22{ background-image: url('../images/s32.PNG');}
.step-23{ background-image: url('../images/s33.PNG');}
.step-24{ background-image: url('../images/s34.PNG');}
.step-25{ background-image: url('../images/s35.PNG');}
.step-26{ background-image: url('../images/s36.PNG');}
.step-27{ background-image: url('../images/s37.PNG');}
.step-28{ background-image: url('../images/s38.PNG');}
.step-29{ background-image: url('../images/s39.PNG');}
.step-30{ background-image: url('../images/s40.PNG');}
.step-29.imgstep:before, .step-30.imgstep:before, .step-31.imgstep:before{margin:0;}
.step-31{ background-image: url('../images/s41.PNG');}
.step-32{ background-image: url('../images/s42.PNG');}
.step-33{ background-image: url('../images/s43.PNG');}
.step-34{ background-image: url('../images/s44.PNG');}
.step-35{ background-image: url('../images/s45.PNG');}
.step-36{ background-image: url('../images/s46.PNG');}
.step-37{ background-image: url('../images/s47.PNG');}
.step-38{ background-image: url('../images/s48.PNG');}
.step-39{ background-image: url('../images/s49.PNG');}
.step-40{ background-image: url('../images/s50.PNG');}

/* for external html*/
.step-ex1{ background-image: url('../images/ex1.PNG');}
.step-ex2{ background-image: url('../images/ex2.PNG');}
.step-ex3{ background-image: url('../images/ex3.PNG');}
.step-ex4{ background-image: url('../images/ex4.PNG');}
.step-ex5{ background-image: url('../images/ex5.PNG');}
.step-ex6{ background-image: url('../images/ex6.PNG');}
.step-ex7{ background-image: url('../images/ex7.PNG');}
.step-ex8{ background-image: url('../images/ex8.PNG');}
.step-ex9{ background-image: url('../images/ex9.PNG');}
.step-ex10{ background-image: url('../images/ex10.PNG');}
.step-ex11{ background-image: url('../images/ex11.PNG');}
.step-ex12{ background-image: url('../images/ex12.PNG');}
.step-ex13{ background-image: url('../images/ex13.PNG');}
.step-ex14{ background-image: url('../images/ex14.PNG');}
.step-ex15{ background-image: url('../images/ex15.PNG');}
.step-ex16{ background-image: url('../images/ex16.PNG');}
.step-ex17{ background-image: url('../images/ex17.PNG');}
.step-ex18{ background-image: url('../images/ex18.PNG');}
.step-ex19{ background-image: url('../images/ex19.PNG');}
.step-ex20{ background-image: url('../images/ex20.PNG');}
.step-ex21{ background-image: url('../images/ex21.PNG');}
.step-ex22{ background-image: url('../images/ex22.PNG');}
.step-ex23{ background-image: url('../images/ex23.PNG');}
.step-ex24{ background-image: url('../images/ex24.PNG');}
.step-ex25{ background-image: url('../images/ex25.PNG');}
.step-ex26{ background-image: url('../images/ex26.PNG');}
.step-ex27{ background-image: url('../images/ex27.PNG');}
.step-ex28{ background-image: url('../images/ex28.PNG');}

/* Segmentation*/
.step-seg1{ background-image: url('../images/seg1.png');}
.step-seg2{ background-image: url('../images/seg2.png');}
.step-seg3{ background-image: url('../images/seg3.png');}

/*schedule campaign date*/
.step-schd1{ background-image: url('../images/launchs1.png');}
.step-schd2{ background-image: url('../images/launchs2.png');}

/*vetting*/
.step-vet1{ background-image: url('../images/vets1.png');}
.step-vet2{ background-image: url('../images/vets2.png');}
.step-vet3{ background-image: url('../images/vets3.png');}
.step-vet4{ background-image: url('../images/vets4.png');}
.step-vet5{ background-image: url('../images/vets5.png');}
.step-vet6{ background-image: url('../images/vets6.png');}
.step-vet7{ background-image: url('../images/vets7.png');}
.step-vet8{ background-image: url('../images/vets8.png');}




@media only screen and (max-width: 768px) {
	.mar768{margin-top:5px; margin-bottom: 5px;}

}